.regular {
	/* Montserrat Regular = 400 */
	font-weight: 400;
}
.medium {
	/* Montserrat Medium = 500 */
	font-weight: 500;
}
.black {
	/* Montserrat Black = 900 */
	font-weight: 900;
}


.App {
  font-family: Montserrat, "Open Sans", sans-serif;
  background: linear-gradient(to right, #283b8f, #1868b0, #283b8f);
  overflow-x: hidden;
}


/* BUTTONS */
.button {
  padding: 10px 15px 10px 15px;
}
.button-rounded {
  border-radius: 0 0 20px 0;
  padding: 10px 15px 10px 15px;
}
.blue-button {
  font-weight: bold;
  color: #23509d;
  border: 3px solid;
  border-color: #23509d;
  background-color: white;
}


/* SLIDER */
.slider {
  width: 100%;
  height: 700px;
  object-fit: cover;
  color: white;
}
.slider-container{
  /* display: none; */
  width: 100%;
  height: 650px;
  transform: translate(0, -80px);
  z-index: 10;
}
.slider-element {
  position: relative;
  top: 75%;
  left: 15%;
  color: white;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 10;
}
.slider-button{
  display: flex;
  background-color: #ed1848;
  color: white;
  border: none;
}
.slider-p {
  inline-size: 250px;
  overflow-wrap: break-word;
}
.slider-fade {
  animation-name: slider-fade;
  animation-duration: 1.5s;
}
@keyframes slider-fade {
  from {opacity: .2}
  to {opacity: 1}
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}



/* ABOUT */
.oc-emblem-container img{
  position: absolute;
  z-index: 1;
  display: block;
  opacity: 1;
}
@keyframes fadeOutEmblem{
  100% { opacity: 1; }
  0% { opacity: 0; }
}
.emblem1{
  left: -90px;
  top: -39px;
}
.emblem2{
  top: 354px;
  left: 63px;
}
.emblem3{
  top: 509px;
  left: 390px;
}
#OCColorfulEmblem {
  opacity: 0;
  transform: translate(-90px, 20px);
}
@keyframes fadeInEmblem {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.about {
  padding-top: 250px;
  background-color: white;
}
.about-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}
.about-text-container {
  display: flex;
  top: 30%;
  flex-direction: column;
  flex-wrap: wrap;
}
.about-text-container h1{
  background: -webkit-linear-gradient(#1868b0, #283b8f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-button-container button:last-of-type{
  margin-left: 40px;
}
.active.fade-right {
  animation: fade-right 1.5s ease-in;
}
@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.reveal {
  position: relative;
  opacity: 0;
}
.reveal.active {
  opacity: 1;
}



/* SERVICES */
.services-container {
  padding-top: 60px;
  color: white;
  height: 740px;
}
/* .services-upper-container {
  width: 100%;
  height: 370px;
  background: linear-gradient(to bottom, #283b8f, #1868b0);
  transform: translate(0, -60px);
}
.services-dynamic{
  width: 100%;
  height: 370px;
  background: linear-gradient(to top,#283b8f, #1868b0);
  transform: translate(0, 170px);
} */
.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
.services-text-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  top: 15%;
  left: 30%;
  inline-size: 400px;
  overflow-wrap: break-word;
}



.our-work-container {
  background-color: white;
}

.partners-container {
  color: white;
}

.awards-container {
  background-color: white;
}


/* FOOTER */
.footer-container {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
}

.footer-left {
  padding: 20px;
}

.footer-right {
  padding-left: 120px;
}

.footer-bottom {
  position: relative;
  display: flex;
  left: 20px;
}

.footer-bottom-element {
  color: white;
  padding-left: 10px;
}